.table-wrapper{
  overflow: auto;
  margin: 5rem auto;
}

.react-bs-table-container{
      margin: 3rem;
}

.toolbar{
  margin: 2rem auto;
}
.toolbar .col{
    display: flex;
        align-items: center;
}

.toolbar .col *{
  margin-right: 1rem;
}
.loading{
    display: inline-block;
}